<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "NBN Web Tools" %></title>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,400italic,600,600italic,700,700italic,200italic,300italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300italic,300,400italic,500,500italic,700,900' rel='stylesheet' type='text/css'>
    
    <%= stylesheet_link_tag "normalize", "styles" %>
    <%= javascript_include_tag  "script" %>
  </head>
  
  <body class="<%= page_classes %>">
    <%= yield %>
  </body>
</html>