<!doctype html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Bitter:400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/scss'>
    <%= stylesheet_link_tag "teaser" %>
    <%= partial "partials/head" %>
  </head>
  <body class="<%= page_classes %>">
    <div class="m-meme">
      <h1>Teaser Generator</h1>
      <p>A teaser is an image previewing the content that managing on a publishing night (typically 1-4 stories per night). They're the snazzy images you see on the <a href="northbynorthwestern.com" target="_blank">homepage</a>.</p>
      <p>Creating a teaser is now easier than ever! Using this tool, select the relevant teaser size, upload an image (either from a NBN photographer or images licensed under Creative Commons), and add your text. After you've finished making the teaser, download the file and upload it to Django. For more information on teaser dimensions or choosing an image, refer to this guide on <a href="https://docs.google.com/document/d/1MFsyHfBf8rg4y77vCpBs2UdTgKKAdMKe36-TsjC9OEQ/edit?usp=sharing" target="_blank">creating NBN teasers</a>.</p>
      <form class="teaser-config">
        <div class="teaser-option">
          <input type="radio" name="config" value="single" checked="checked"><br /><img src="../images/1full.png" />
        </div>
        <div class="teaser-option">
          <input type="radio" name="config" value="two-l"><br /><img src="../images/2large.png" />
        </div>
        <div class="teaser-option">
          <input type="radio" name="config" value="two-s"><br /><img src="../images/3equal.png" />
        </div>
        <div class="teaser-option">
          <input type="radio" name="config" value="three-l"><br /><img src="../images/3large.png" />
        </div>
        <div class="teaser-option">
          <input type="radio" name="config" value="three-s"><br /><img src="../images/3small.png" />
        </div>
        <div class="teaser-option">
          <input type="radio" name="config" value="four"><br /><img src="../images/4equal.png" />
        </div>
      </form>
      <%= partial "partials/editor" %>
      <%= partial "partials/canvas" %>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'teaser' %>
    <%= javascript_include_tag 'models/teaser' %>
  </body>
</html>